<div class="row g-3">
  <div class="mb-3">
    <label for="framework" class="form-label">Favorite Framework</label>
    <input type="text" class="form-control" id="framework" [(ngModel)]="favoriteFramework" placeholder="Favorite Framework">
  </div>
  <div class="mb-3">
    <button class="btn btn-primary mb-3" (click)="showFavoriteFramework()">Show Framework</button>
  </div>
</div>

<div class="mb-3">
  <p>Username: {{ username }}</p>
    <p>{{ username }}'s favorite framework: {{ favoriteFramework }}</p>
    <label for="framework">Favorite Framework:</label>
</div>
